  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    width: 100%;
  }

.collapse {
  justify-content: flex-end;
  font-weight: 700;
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/1030_two-students-looking-at-tablet-1028x579.jpg);
  background-size: cover;
  height: 600px;
}

.color-overlay {
  width: 100%;
  height: 600px;
  background: #000;
  opacity: .7; 
  position: absolute;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.card {
 width: 100%;
}

.header-text h4 {
  text-align: center;
  padding-bottom: 0;
  color: white;
}

.search-area {
  width: 80%;
  height: 50px;
  border: 0;
  color: #000;
}

.lead {
  margin-top: 100px;
  text-align: center;
}

.form-area {
  background: rgb(124, 120, 120, .2);
  height: 130px;
  margin-left: 40px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
}

.btn-how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: 100px;
}

.txt-in {
  height: 50px;
}

.btn-sub {
 height: 50px;
 width: 30;
}

.form-area p{
 margin-left: 50px;
 margin-bottom: 0;
 margin-top: 40px;
 color: black;
 font-size: 15px;
 font-weight: 20px;
}

.how-it-works-title {
  text-align: center;
}

.side-image {
 display: flex;
 justify-content: space-around;
}

.header-footer-bg {
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
}

.email-input {
  width: 50%;
  height: 35px;
  margin-right: 0;
  padding-right: 0;
}

.header-footer {
  align-items: center;
}

.header-footer ul {
  display: flex;
  /* width: 50rem; */
  height: 100%;
  justify-content: space-between;
  /* align-items: center; */
}

.header-footer li {
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.header-footer ul li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.footer-bottom{
  background-color: grey;
}

.footer-bottom ul li a {
    text-decoration: none;
    list-style: none;
}

.results-head {
  margin-top: 100px;
  background-color: grey;
  width: 100%;
  height: 250px;
}

.search-form-menu {
display: flex;
justify-content: center;
align-items: center;
}

.search-page-title {
  align-items: center;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "sec1" "sec2" "sec3" "sec4" "sec5" "sec6";
  cursor: pointer;
}

.sec1 {
  height: 250px;
}

.text-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  color: white;
}

.search-results-section h2{
  margin-left: 50px;
}

.search-form-menu select{
  margin-top: 50px;
  height: 40px;
  margin-left: 5px;
  width: 150px;
}

.results-text {
  color: grey;
}

#fname {
  margin-top: 50px;
  height: 40px;
  margin-left: 5px;
  width: 150px;
}

.search-form-menu button {
  margin-top: 50px;
  margin-left: 5px;
}

.btn-clear {
  height: 40px;
}

.details-top {
 display: flex;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 200px;
 margin: 0;
}

.map {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

map h2{
  padding-left: 0;
}

.inner-btn {
  width: 90%;
  padding: 300px;
  margin-left: 30px;
}

.contact-details {
  color: black;
  width: 100%;
  height: auto;
  align-items: center;
}

.contact-details ul{
  display: flex;
  flex-direction: row;
  width: 50rem;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.contact-details li {
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.contact-details ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.click-view {
  height: 50px;
  width: 100%;
  color: whitesmoke;
}

.details-top button{
  display: flex;
  justify-content: start;
  text-align: start;
  border: 1px solid black;
}

.apply-btn {
  float: right;
  margin-right: 25px;
}

/* -------- Queries -------- */

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .navbar {
    width: 81%;
  }

}